<div id="meeting-<%= meeting.id %>">
  <small>
    <strong><%= meeting.user.nickname %></strong>
    <i><%= meeting.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= meeting.content %></p>
</div>
