<div class="container">
<h1 class="mt-5"> Your Pets </h1>
<%= link_to "Add Pet", new_pet_path, class:"btn-donate"%>
    <div class="cards">
      <% @pets.each do |pet| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url(<%= cl_image_path(pet.photo.key, height: 300, width: 400, crop: :fill)  if pet.photo.attached? %>)">
          <%= link_to pet.name, pet, class:"pet-name"%>
        </div>
      <% end %>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
