<footer class="footer">
  <div>
    <p>&copy; <%= Time.now.year %> • Pets Out® • All rights reserved.</p>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-linkedin"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-youtube"></i>
    <i class="fa-brands fa-github"></i>
    <i class="fa-brands fa-twitter"></i>
  </div>
</footer>
