<div class="container">
  <h1>Popular pet-friendly places</h1>
  <ol>
  <% @cities.first(5).each do |city| %>
    <li>
      <%=  link_to city.local, city_places_path(city.id) %>
    </li>
  <% end %>
  </ol>
</div>

<div class="container">
  <h2>Most upvoted activities</h2>
  <ul>
    <% @activities.first(5).each do |a| %>
      <li><strong> <%= a.title %></strong> </li><p><%= a.details %></p>
    <% end %>
  </ul>
</div>
