.card-trip {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  border-radius: 8px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  border-radius: 8px; /* ou outro valor conforme desejado */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip-infos {
  position: relative;
  margin-top: 5px;
  padding: 10px 20px;
  border-radius: 7px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  background: #ffffff;
  color: #000000;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.card-trip-infos:hover {
  background: #3a7bd5;
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  color: #ffffff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.card-trip-infos:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.card-trip-infos::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.card-trip-infos:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.card-trip-infos a {
  font-size: 12px;
  text-decoration: none; /* Remover sublinhado do link */
  color: inherit; /* Herdar a cor do texto do contêiner pai */
}

.card-trip .card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
