.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
  // border-radius: 8px; /* Borda arredondada */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.3s ease-in-out; /* Adiciona transição suave ao hover */
}

.card-product img:hover {
  transform: scale(1.1); /* Efeito de escala no hover */
}


.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.custom-container {
  margin-top: 30px;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.lightbox:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjust as needed */
}

.lightbox img {
  display: inline-block;
  vertical-align: middle;
  max-width: 80%;
  max-height: 80%;
  border-radius: 8px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  background-color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  border-radius: 50 50 50 50;
  transition: background-color 0.3s ease-in-out;
}

.close-btn:hover {
  background-color: #fff; /* Cor de fundo branca no hover */
  color: #000; /* Cor do ícone "X" preta no hover */
}
