.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  border-radius: 8px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  border-radius: 8px; /* ou outro valor conforme desejado */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  background-color: #fafafa; /* Cor de fundo do botão */
  color: #050505; /* Cor do texto no botão */
  border: none;
  border-radius: 8px; /* ou outro valor conforme desejado */
  cursor: pointer; /* Altera o cursor ao pairar sobre o botão */
  transition: background-color 0.3s ease, color 0.3s ease; /* Efeito de transição suave */
  margin-top: 5px;  /* Outros estilos conforme necessário */
}

.card-trip-infos:hover {
  background-color: #318ce7;
  color: white;
  /* Cor de fundo ao passar o mouse, ajuste conforme desejado */
}

.card-trip-infos a {
  text-decoration: none; /* Remover sublinhado do link */
  color: inherit; /* Herdar a cor do texto do contêiner pai */
}


.card-trip .card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
