.container_users_pets {
  max-width: 700px; /* Altere o valor conforme necessário */
  max-height: 907px; /* Altere o valor conforme necessário */
  margin-top: 10px;
  margin-left: 20px;
  padding: 30px;
  box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background:
  linear-gradient(293deg,
  #757F9A 0%,
  #D7DDE8 100%);
  border-radius: 15px;
  text-align: left;
}
