.container_form {
  max-width: 500px; /* Altere o valor conforme necessário */
  max-height: 3000px; /* Altere o valor conforme necessário */
  margin-top: 100px;
  margin-left: 700px;
  padding: 70px;
  box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background: linear-gradient(293deg, #757F9A 0%, #D7DDE8 100%);
  border-radius: 15px;
  text-align: left;
}
