.container_cities {
  max-width: 1800px; /* Altere o valor conforme necessário */
  max-height: 1200px; /* Altere o valor conforme necessário */
  margin: 0 auto;
  padding: 50px;
  background-color: rgba(251, 252, 253, 0.719);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-align: center;
}
