<div class="container_form">

  <div class="container mt-3">
    <p><strong>New City</strong></p>

    <%= simple_form_for(@city) do |form| %>

      <div class="form-actions">
        <%= form.input :local %>
        <%= form.input :photo, as: :file %>

        <%= button_tag 'Create City', type: 'submit', class: 'btn-form-1' %>
      </div>
    <% end %>

  </div>

</div>
